.container {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 10rem;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
}
@media only screen and (max-width: 75em){
  .container { 
    font-size: 1.6rem;
  }
}

.container h1 {
  flex: 0 0 30%;
}

.nav {
  list-style: none;
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
}

.actions {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  font-size: 3rem;
}

.burger {
  margin-left: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
  width: 4rem;
  height: 4rem;
}
.line1, .line2, .line3 {
  background-color: var(--color-white);
  width: 100%;
  height: 2px;
}

@media only screen and (max-width: 62.5em){

  .container h1 {
    flex: 0 0 90%;
  }

  .nav {
    display: none;
  }

  .actions {
    display: none;
  }

  .burger {
    display: flex;
  }
}