.container {
  position: fixed;
  bottom:0;
  width: 70vw;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  font-size: 1.6rem;
  animation: slideUp .4s;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 4rem;
  background-color: #10be58;
}

.message {
  margin-left: 1rem;
}

.text {
  display: flex;
  margin-left: 5rem;
}

.actions {
  display: flex;
  justify-content: center; 
  margin-right: 5rem;
}

.container a {
  margin-left: 2rem;
  cursor: pointer;
}

.container a:hover {
  text-decoration: underline;
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}