.container {
  position: fixed;
  bottom: 0;
  width: 70rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: #fff;
  font-size: 1.6rem;
  animation: slideUp 0.4s;
  z-index: 100;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.color {
  position: absolute;
  left: 0;
  height: 100%;
  width: 4rem;
}

.success {
  background-color: #10be58;
}
.failed {
  background-color: red;
}

.message {
  margin-left: 1rem;
}

.text {
  display: flex;
  margin-left: 5rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin-right: 5rem;
}

.container a {
  margin-left: 2rem;
  cursor: pointer;
}

.container a:hover {
  text-decoration: underline;
}

@keyframes slideUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
