.container {
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: absolute;
  background-size: cover;
  background-position: left;
  width: 70rem;
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #fff;
  color: #fff;
  padding: 2rem;
}
.content h4 {
  font-size: 6rem;
  margin: 0;
}
.content h3 {
  font-size: 7rem;
  margin: 0;
}

.subText {
  font-size: 2.6rem;
}

.clsBtn {
  font-size: 4rem;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
}

.input {
  padding: 1rem 2rem;
  width: 30rem;
  outline: none;
  border: none;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: red;
  width: 30rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn:hover{
  animation: pulse 1.4s infinite;
}

.cancel {
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .4s;
  position: relative;
}
.cancel::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform .5s ease;
}

.cancel:hover::before {
  transform: scaleX(1);

}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

.finePrint {
  font-size: 1rem;
}

.error {
  display: block;
  margin-left: 2rem;
  margin-top: .5rem;
  color: red;
  font-size: 1.4rem;
}

@media only screen and (max-width: 720px){
  .content {
    width: 90%;
  }
  .content h3 {
    font-size: 4.5rem;
  }
}