.container {
  height: 70vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../public/images/225852.jpg");

  background-size: cover;
  background-position: top;
  z-index: 1;
  padding: 5rem;
}
.container h1 {
  margin: 0;
  font-size: 8.5rem;
  color: var(--color-white);
  text-transform : uppercase;
}


@media only screen and (max-width: 1500px) {
  .container h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 650px) {
  .btn {
    margin-top: 5rem;
  }
  .container h1 {
    font-size: 4rem;
  }
}