.container {
  height: 100%;
  padding: 2rem;
  gap: 1rem;
}

.size {
  border: solid 1px #777;
  width: 50%;
}
.sizeIcon {
  margin-left: auto;
  cursor: pointer;
}
.size h5 {
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.activeList {
  height: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  font-size: 1.5rem;
  transition: all 0.4s;
  transform: translateY(-2rem);
  overflow: auto;
}

.nonActive {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.active {
  height: 10rem;
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

.activeList li {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.activeList li:hover {
  background-color: #d2d2d2;
}

.qty {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.qty input {
  margin-left: 1rem;
  width: 5rem;
}

.addToCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#d3d3d3;
  width: 22rem;
  padding: 2rem 3rem;
  border: solid 1px #777;
  cursor: pointer;
  transition: all .4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.addToCart:hover {
  transform: translateY(-3px)
}
.addToCart:active {
  transform: translateY(2px)
}

.addToCart h5 {
  margin: 0;
}

.cartIcon {
  font-size: 2rem;
}