.container {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 10vh 70vh 70vh;
  color: #444;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-row: 0 / 1;
  grid-column: 1 / 7;
  padding: 1rem;
}

.image {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.info {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}

.specs {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
.desc {
  grid-column: 4 / 6;
  grid-row: 3 / 5;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-rows: 10vh 70vh 55vh;
  }
  .image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .info {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .specs {
    grid-column: 2/ 3;
    grid-row: 4 / 5;
  }

  .desc {
    grid-column: 2/ 3;
    grid-row: 5 / 6;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 2vh 1fr 2vh;
    grid-template-rows: 10vh 70vh 45vh 45vh 45vh;
  }

  .image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .info {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .specs {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .desc {
    grid-column: 2/ 3;
    grid-row: 5 / 6;
  }
}
