.container {
  height: 100%;
  padding: 2rem;
  gap: 1rem;
}

.size {
  border: solid 1px #777;
  width: 50%;
}
.sizeIcon {
  margin-left: auto;
  cursor: pointer;
}
.size h5 {
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.activeList {
  height: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  font-size: 1.5rem;
  transition: all 0.4s;
  transform: translateY(-2rem);
  overflow: auto;
}

.nonActive {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.active {
  height: 10rem;
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

.activeList li {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .4s .2s;

}

.activeList li:hover {
  background-color: #d2d2d2;
}
