.container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: #444;
}

.breadcrumb {
  grid-row: 0 / 1;
  grid-column: 1 / 4;
  padding: 2rem;
}

.image {
  grid-column: 2 / 4;
  grid-row: 2 / 8;
}
.info {
  grid-column: 4 / 6;
  grid-row: 2 / 6;
}
