
:root{
  /* Colors */
  --color-black: rgba(0, 0, 0);
  --color-white: #fff;
  --color-grey-dark: rgb(34, 34, 34);
  --color-grey-light: #d3d3d3;

}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.2rem;
}
p{
  margin: 0;
  padding: 0;
}

.mt50 {
  margin-top: 5rem;
}