.pages {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.5rem;
}
.pageIcon {
  display: flex;
  padding: .7rem;
  background-color: var(--color-grey-light);
  cursor: pointer;
}

.pageNumber {
  cursor: pointer;
}