.container {
  padding: 1rem;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 2 / 6;
}

.per {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: pink;
  width: 15rem;
}