.container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5vh 10vh 1fr;
}

.pageNav {
  grid-column: 3;
  grid-row-start: 4;
  width: 100%;
  margin: 2rem 0;
}

.breadcrumb {
  grid-row: 0 / 1;
  grid-column: 0 / 4;
  padding: 2rem;
}