.container {
  height: 100%;
  width: 100%;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-start: 3;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.container img {
  width: 100%;
}
