.container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3vh 7vh 1fr;
}

.pageNav {
  grid-column: 3;
  grid-row-start: 4;
  width: 100%;
  margin: 2rem 0;
}

.breadcrumb {
  grid-row: 1/ 2;
  grid-column: 0 / 4;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.filters {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 0px 2rem;
  font-size: 1.4rem;
}

.filters a {
  text-decoration: underline;
  color: rgb(69, 162, 211)
}