.container {
  height: 100%;
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.container img {
  width: 100%;
}
