/* .container {
  grid-row: 3;
  grid-column: 2 / 7;
  display: flex;
  flex-wrap: wrap;
} */
.container {
  grid-row: 3;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.container img {
  width: 100%;
}
